/* 🔹 Botão hamburguer */
.menu-toggle {
  font-size: 2rem;
  background: none;
  border: none;
  color: #36688a;
  cursor: pointer;
  margin: 0.3rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
}

/* 🔹 Estilo para telas grandes */
@media (min-width: 769px) {
  .navbar {
    display: flex !important;
    flex-direction: row; /* Navbar em linha no desktop */
    align-items: center;
    justify-content: space-between;
    background-color: #008b8b2a;
    padding: 2rem;
  }

  .navbar__links {
    flex-direction: row; /* Links lado a lado no desktop */
    gap: 1rem;
  }

  .menu-toggle {
    display: none; /* Esconde o hamburguer no desktop */
  }
}